@model IEnumerable<ECARTemplate.Models.Equipo>

@{
    ViewData["Title"] = "Equipo ó Software";
}

<h1>Equipos ó Software</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Nuevo</a>
</p>
<div class="mb-3">
    <input type="text" id="searchInput" class="form-control" placeholder="Buscar por Código o Nombre">
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioTiRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoEquipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEquipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sede)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Nota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioTiRegistro)
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#searchInput').on('input', function () {
            var searchTerm = $(this).val();
            $.ajax({
                url: '@Url.Action("Buscar", "Equipos")', // Utiliza Url.Action aquí
                type: 'GET',
                data: { term: searchTerm },
                success: function (data) {
                    $('tbody').html('');
                    if (data && data.length > 0) {
                        $.each(data, function (i, equipo) {
                            var row = '<tr>' +
                                '<td>' + equipo.id + '</td>' + // Asegúrate de que la propiedad sea 'id' (minúscula)
                                '<td>' + equipo.codigoEquipo + '</td>' +
                                '<td>' + equipo.nombreEquipo + '</td>' +
                                '<td>' + equipo.fecha + '</td>' +
                                '<td>' + equipo.sede + '</td>' +
                                '<td>' + equipo.area + '</td>' +
                                '<td>' + equipo.nota + '</td>' +
                                '<td>' + equipo.estado + '</td>' +
                                '<td>' + equipo.usuarioTiRegistro + '</td>' +
                               // '<td>' + equipo.fechaModificacion + '</td>' +
                                '<td>' +
                                    '<a href="/Equipos/Edit/' + equipo.id + '">Editar</a> | ' +
                                    '<a href="/Equipos/Details/' + equipo.id + '">Detalles</a> | ';
                            if (equipo.estado === 'Activo') {
                                row += '<a href="/Equipos/Inactivar/' + equipo.id + '"">Inactivar</a>';
                            } else {
                                row += '<a href="/Equipos/Activar/' + equipo.id + '" ">Activar</a>';
                            }
                            row += '</td></tr>';
                            $('tbody').append(row);
                        });
                    } else {
                        $('tbody').append('<tr><td colspan="11">No se encontraron resultados.</td></tr>'); // Ajusta el colspan
                    }
                },
                error: function (error) {
                    console.error('Error al realizar la búsqueda:', error);
                }
            });
        });
    });
</script>