@model IEnumerable<ECARTemplate.Models.Equipo>

@{
    ViewData["Title"] = "Equipo ó Software";
}

<h1>Equipos ó Software</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoEquipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEquipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sede)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    @if (item.Estado == "Activo")
                    {
                        <a asp-action="Inactivar" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Inactivar</a>
                    }
                    else
                    {
                        <a asp-action="Activar" asp-route-id="@item.Id" class="btn btn-success btn-sm">Activar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>