@model IEnumerable<ECARTemplate.Models.UsuarioTI>

@{
    ViewData["Title"] = "Usuarios TI";
}

<h1>Usuarios TI</h1>

<p>
    <a asp-action="Crear" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoUsuarioTi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolTi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuarioTi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioTi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoUsuarioTi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RolTi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUsuarioTi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioTi)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Editar</a> |
                    <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section ScriptsBlock {
}