@model ECARTemplate.Models.Credencial

@{
    ViewData["Title"] = "Detalles de Credencial";
}

<h1>Detalles de Credencial</h1>

<div>
    <h4>Credencial</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoEquipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoEquipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoUsuarioEcar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoUsuarioEcar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Perfil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Perfil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contrasena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contrasena)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioTiRegistro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioTiRegistro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>